<!-- This is the extend modal -->
<div id='extend_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <div class='clearfix'></div>
	<div class='row'>
	  <div class='col-sm-12'>
            <form id='extend_request_form' role='form'>
	      <center><h4>How many Days? Default is 1 day</h4></center>
              <div class='row'>
                <div class='col-sm-2 col-sm-offset-5'>
		  <input id='howlong_extend' type='text' placeholder='1'
                         class='form-control'>
		</div>
	      </div>
	      <br>
	      <div id='why_extend_div' class='hidden'>
		<center>
		  Most recent Extension Reason
		  <br>
		  <textarea id='why_extend' readonly
			    class='form-control align-center-inline'
			    rows=5></textarea>
		</center>
		<br>
	      </div>
              <button class='btn btn-primary btn-sm align-center'
	              id='request-extension'
                      type='submit' name='request'>Extend</button>
            </form>
          </div>
	</div>
      </div>
    </div>
  </div>
</div>

