<style>

.panel-body-dashboard {
	padding: 2px;
}
.table-dashboard {
	margin: 1px;
}
.popover{
	max-width: 800px;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
	padding: 2px;
}
.panel-heading {
	padding: 5px;
}
.inuse-panel {
	height:350px;
	overflow-y:scroll;
}
.counts-panel {
	max-height:385px;
	overflow-y:scroll;
}
</style>
<div class='row' style="margin-bottom: 5px">
  <div class='col-sm-8 col-sm-offset-3'>
    <input class='form-control search'
	   type='search' data-column='all'
	   id='inuse-search-all' placeholder='Global Search'>
  </div>
</div>
<% _.each(amlist, function(urn, name) { %>
  <div class='row'>
    <div class='col-sm-3'>
      <div class='panel panel-default'>
	<div class="panel-heading">
	  <h5><center>Totals <%- name %></center></h5>
	</div>
	<div class='panel-body panel-body-dashboard'>
	  <div class="counts-panel" id='counts-panel-<%- name %>'>
	    <table class='tablesorter-green'>
	      <thead>
		<tr>
		  <th>Type</th>
		  <th>Inuse</th>
		  <th>Free</th>
		</tr>
	      </thead>
	      <tbody id='counts-<%- name %>-tbody'>
	      </tbody>
	    </table>
	  </div>
	</div>
      </div>
    </div>
    <div class='col-sm-9'>
      <div class='panel panel-default'>
	<div class="panel-heading" id='inuse-click-<%- name %>'>
	  <h5>
	    <center>InUse <%- name %>
	      <span id="inuse-collapse-button-<%- name %>"
		    class="glyphicon glyphicon-chevron-right pull-right"></span>
	    </center>
	  </h5>
	</div>
	<div class='panel-body panel-body-dashboard'>
	  <div class="row">
	    <div class='col-sm-6'>	      
	      <input class='form-control search'

		     type='search' data-column='all'
		     id='inuse-search-<%- name %>'
		     placeholder='Search <%- name %>'>
	    </div>
	    <div class='col-sm-5'>
	      <span id='inuse-count-<%- name %>'>0</span>
	      <span> matched rows</span>
	    </div>
	  </div>
	  <div class="inuse-panel" id='inuse-panel-<%- name %>'
	       data-status="minimized">
	    <table class="tablesorter hidden" id='inuse-table-<%- name %>'>
	      <thead>
		<tr>
		  <th>Node</th>
		  <th>Type</th>
		  <th>Pid</th>
		  <th>Eid</th>
		  <th>User</th>
		  <th class="sorter-sugar">Expires</th>
		  <th>PreRes</th>
		</tr>
	      </thead>
	      <tbody id='<%- name %>-tbody'>
	      </tbody>
	    </table>
	  </div>
	</div>
      </div>
    </div>
  </div>
<% }); %>
