<!-- Confirm something -->
<div id='confirm_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center><h3>Confirm to Delete</h3>
          <a class='btn btn-danger btn-sm'
             href='manage_profile.php?action=delete&uuid=<%= uuid %>'
             type='button' name='delete'>Confirm</a></center>
      </div>
    </div>
  </div>
</div>
