<div class='row'>
 <% if (viewing) { %>
  <div class='col-lg-3
              col-md-3
              col-sm-3'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4 class='panel-title text-center'><%= title %></h4>
      </div>
      <div class='panel-body'
	   style='overflow: hidden; padding-left: 5px; padding-right: 5px'>
	<table class='table-condensed nospaceafter'
	       style='font-size:12px;'>
	  <tr>
	    <td>Name:</td>
	    <td><%- formfields.profile_name %></td>
	  </tr>
	  <tr>
	    <td>Version:</td><td>
	  <% if (history) { %>
	  <a href='profile-history.php?uuid=<%= profile_uuid %>'>
	  	    <%- formfields.profile_version %></a>
	  <% } else { %>
	    <%- formfields.profile_version %>
	  <% } %>
	  <% if (version_uuid != latest_uuid) { %>
	    (Latest:
	    <a href='manage_profile.php?action=edit&uuid=<%= latest_uuid %>'>
	       <%- latest_version %></a>)
	  <% } %>
	    </td>
	  </tr>
	  <tr>
	    <td>Project:</td>
	    <td><%- formfields.profile_pid %></td>
	  </tr>
	  <tr>
	    <td>Creator:</td>
	    <td><%- formfields.profile_creator %></td>
	  </tr>
	  <tr>
	    <td>Created:</td>
	    <td class='format-date' style='word-wrap:break-word;'>
	      <%- formfields.profile_created %></td>
	  </tr>
	  <% if (withpublishing) { %>
	  <tr>
	    <td>Published:</td>
	    <% if (formfields.profile_published != "") { %>
	    <td id='profile_published' class='format-date'>
	      <%- formfields.profile_published %></td>
	    <% } else { %>
	    <td class='text-danger'>Not Published!</td>
	    <% } %>
	  </tr>
	  <% } %>
	  <% if (disabled) { %>
	    <tr>
	      <td>Disabled:</td><td><span class="text-danger">Yes</span>
		<a href='#' class='btn btn-xs'
		   data-toggle='popover'
		   data-html='true'
		   data-delay='{"hide":500}'
		   data-content="This profile has been disabled by an
				 administrator. You may be able to instantiate
				 another version of this profile, see the
				 version info above.">
		  <span class='glyphicon glyphicon-question-sign'
			style='margin-bottom: 4px;'></span>
		</a>
	      </td>
	    </tr>
	  <% } %>
	</table>
	<% if (activity) { %>
	<a class='btn btn-info btn-xs pull-left'
           id='profile_activity_button'
	   data-toggle='popover'
	   data-delay='{"hide":1500, "show":250}'
	   data-html='true'
	   data-content="View a history of when your profile was
	   instantiated."
           style='margin-right: 10px; font-size: 12px'
           href='profile-activity.php?uuid=<%= profile_uuid %>'
           type='button'>Activity
	</a>
	<% } %>
      </div>
    </div>
  </div>
  <div class='col-lg-9
              col-md-9
              col-sm-9
              col-xs-12'>
    <div class='panel panel-default'>
 <% } else { %>
  <div class='col-sm-10 col-sm-offset-1
              col-xs-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'><%= title %></h3>
      </div>
 <% } %>
      <div class='panel-body'>
	<span id="general_error" style="color:red;"></span>
	<form id='quickvm_create_profile_form'
              class='form-horizontal' role='form'
	      data-format="wide"
              enctype='multipart/form-data'
              method='post' action='manage_profile.php'>
	  <div class='row'>
	    <div class='col-sm-12'>
	      <% if (general_error) { %>
	        <center>
		  <p class='lead text-danger'><%- general_error %></p>
		</center>
	      <% } %>
              <div id="notifyupdate"
		   class="alert alert-success apt-success" style="display: none"
		   role="alert"><center>Update Successful!</center></div>
	      <!-- Hidden variables -->
	      <input type='hidden' name='action' value='<%= action %>'>
	      <% if (copyuuid) { %>
	        <input type='hidden' name='copyuuid' value='<%= copyuuid %>'>
	      <% } %>
	      <% if (snapuuid) { %>
	          <input type='hidden' name='snapuuid' value='<%= snapuuid %>'>
	      <% } %>
	    </div>
	  </div>
	  <% if (viewing) { %>
	    <input type='hidden' name='uuid' value='<%= version_uuid %>'>
	    <input type='hidden' name='formfields[profile_name]'
		   value='<%- formfields.profile_name %>'>
	    <input type='hidden' name='formfields[profile_pid]'
		   value='<%- formfields.profile_pid %>'>
	  <% } %>
	  <% if (!viewing) { %>
	  <fieldset>
	    <!-- First row has both name and project,
		 which makes the layout odd. -->
	    <div class='row'>
	      <label for='profile_name'
		     class='col-sm-3 control-label'>Name
		<a href='#' class='btn btn-xs'
		   data-toggle='popover'
		   data-content='alphanumeric, dash, underscore, no whitespace'>
		  <span class='glyphicon glyphicon-question-sign'></span>
		</a>
	      </label>
	      <div class='col-sm-3'>
		<!-- In editing mode, pass through static values. -->
	        <div class="form-group">
	          <input name="formfields[profile_name]"
		       id='profile_name'
		       <% if (viewing) { %>readonly<% } %>
		       value="<%- formfields.profile_name %>"
		       class="form-control format-me"
		       data-key="profile_name">
		</div>
		<!-- End of first half of row -->
	      </div>
	      <!-- Second half of the row. Project Selection -->
	      <label for='profile_pid'
		     class='col-sm-2 control-label'>Project</label>
	      <div class='col-sm-3'>
	        <div class="form-group">
		  <% if (projects.length == 1) { %>
	            <input name="formfields[profile_pid]" readonly
		       value="<%- formfields.profile_pid %>"
		       class="form-control format-me"
		       id='profile_pid'
		       data-key="profile_pid">
		  <% } else { %>
		    <select name="formfields[profile_pid]"
			   id='profile_pid' 
			   class='form-control format-me'
			   data-key="profile_pid"			
			   placeholder='Please Select'>
		     <% _.each(projects, function(name) { %>
	                <option 
			  <% if (_.has(formfields, 'profile_pid') &&
			         formfields.profile_pid == name) { %>
			     selected
			  <% } %>
			  value='<%= name %>'><%= name %>
			</option>
		     <% }); %>
		    </select>
	          <% } %>
		</div>
		<!--  End of first row. -->
	      </div>
            </div>
	  </fieldset>
	  <% } %>
	  <fieldset>
	    <div class="form-group">
	      <div class='format-me'
		   data-key='profile_rspec' data-label='Your rspec'
		   data-help='You can supply either an
			      <a href="<%- manual %>/advanced-topics.html">
			      rspec or a geni-lib script</a> for your
			      profile source code.'>
		<div class='row'>
                  <div class='col-xs-12'>
                    <input class='filestyle' type='file'
			 name='sourcefile' id='sourcefile' 
			 data-classButton='btn btn-primary btn-xs'
			 data-input='false'
			 style='margin-right: 10px;'
			 data-buttonText='Choose file'>
		    <button class='btn btn-primary btn-xs
			  type='button'
			  style='margin-right: 10px; margin-left: 10px;'
			  id='edit_topo_modal_button'>
                      Topology</button>
		    <button class='btn btn-primary btn-xs'
			  type='button'
			  style='margin-right: 10px;'
			  id='show_source_modal_button'>
		      <% if (viewing && canmodify) { %>Edit <% } %>Source
		    </button>
		    <button class='btn btn-primary btn-xs hidden'
			  type='button'
			  style='margin-right: 10px;'
			  id='show_xml_modal_button'>
                      XML</button>
		  </div>
		</div>
	      </div>
	    </div>
 	    <textarea name="formfields[profile_rspec]"
		      id='profile_rspec_textarea'
                      class='form-control hidden'
                      type='textarea'
		      data-key='profile_rspec'
		      rows=5><%- formfields.profile_rspec %></textarea>
 	    <textarea name="formfields[profile_script]"
		      id='profile_script_textarea'
                      class='form-control hidden'
                      type='textarea'
		      data-key='profile_script'
		      rows=5><%- formfields.profile_script %></textarea>
	    <div class="form-group">
	      <textarea name=formfields[profile_description]
		      id='profile_description'
		      rows=3
                      class='form-control format-me'
                      type='textarea'
		      data-key='profile_description'
		      data-label='Description'
		      data-help='Briefly describe what this profile
		      does. Use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target=_blank>Markdown format</a>, double click
		      to see a rendering.'
		      ><%- formfields.profile_description %></textarea>
	    </div>
	    <div class="form-group">
	      <textarea name=formfields[profile_instructions]
		      id='profile_instructions'
		      rows=3
                      class='form-control format-me'
		      data-key='profile_instructions'
		      data-label='Instructions'
		      data-help='Briefly describe how to use this
		                 profile after it starts.
		                 Use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target=_blank>Markdown format</a>, double click
 		                 to see a rendering.'
                      type='textarea'></textarea>
	    </div>
	    
	    <!-- Tour Table; hidden until the table is initialized
	         from the rspec. -->
	    <div class='row hidden' id='profile_steps_div'>
	      <div class='col-sm-9 col-sm-offset-3'>
		<div class="panel" style='margin-bottom: 10px; border: 0px;'>
		  <div class="panel-heading"
		       style='border: 0px; padding: 5px; margin: 0px;'>
		      <a data-toggle="collapse"
			 id='profile_steps_link'
			 href="#profile_steps_collapse">
			Show/Edit Tour
		      </a>
		  </div>
		  <div id="profile_steps_collapse"
		       class="panel-collapse collapse">
		    <div class="panel-body" style='padding: 0px; border: 0px;'>
		      <table id='profile_steps' class='col-sm-12'></table>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>

	    <!-- Public listing checkbox -->
	    <% if (isadmin) { %>
	    <div class='row'>
	      <div class='col-sm-9 col-sm-offset-3'>
		<div class='checkbox format-me' data-compact='yep'>
                  <label>
		    <input name=formfields[profile_listed]
			   <%- formfields.profile_listed %>
			   data-key='profile_listed'
			   id='profile_listed' value='checked'
			   type='checkbox'>List on the home page for
		    anyone to view.
		  </label>
		</div>
	      </div>
	    </div>
	    <% } %>

	    <!-- Permission checkboxes. -->
	    <div class='row'>
	      <div class='col-sm-9 col-sm-offset-3'>
		Who can instantiate your profile?
	      </div>
	    </div>

	    <div class='row'>
	      <div class='col-sm-8 col-sm-offset-4'>
		<div class='format-me' data-key='profile_who'>
		  <% if (1) { %>
		  <div class='radio'>
                    <label>
                      <input type='radio' name='formfields[profile_who]'
			     id='profile_who_public'
		             <% if (formfields.profile_who == "public") {
				%>checked<% } %>
			     value='public'>
		      <% if (isapt) { %>
                      <em>Anyone</em> on the internet
		      <% } else { %>
                      <em>Anyone</em>
		      <% } %>
    	            </label>
                  </div>
		  <% } %>
		  <% if (0) { %>
                  <div class='radio'>
                    <label>
                      <input type='radio' name='formfields[profile_who]'
			     id='profile_who_registered'
		             <% if (formfields.profile_who == "shared") {
				%>checked<% } %>
			     value='shared'>
                      Only registered users of the website
    	            </label>
                  </div>
		  <% } %>
                  <div class='radio'>
                    <label>
                      <input type='radio' name='formfields[profile_who]'
			     id='profile_who_private'
		             <% if (formfields.profile_who == "private") {
				%>checked<% } %>
			     value='private'>
                      Only members of your project
    	            </label>
                  </div>
                </div>
              </div>
            </div>

	    <% if (isadmin) { %>
	    <div class='row'>
	      <div class='col-sm-9 col-sm-offset-3'>
		<div class='checkbox format-me' data-key='profile_topdog'
		     data-compact='yep'>
                  <label>
		    <input name=formfields[profile_topdog]
			   <%- formfields.profile_topdog %>
			   data-key='profile_topdog'
			   id='profile_topdog' value='checked'
			   type='checkbox'>Put this profile at the top of
		    the list.
		  </label>
		</div>
	      </div>
	    </div>
	    <div class='row'>
	      <div class='col-sm-9 col-sm-offset-3'>
		<div class='checkbox format-me' data-key='profile_disabled'
		     data-compact='yep'>
                  <label>
		    <input name=formfields[profile_disabled]
			   <%- formfields.profile_disabled %>
			   data-key='profile_disabled'
			   id='profile_disabled' value='checked'
			   type='checkbox'>Disable this version.
		  </label>
		</div>
	      </div>
	    </div>
	    <% } %>

	    <!-- The private URL -->
	    <% if (0) { %>
	    <input name="formfields[profile_version_url]"
		   value="<%- formfields.profile_version_url %>"
		   id='profile_url' readonly
                   class='form-control format-me'
		   data-key='profile_url'
		   data-label='Shared URL'
		   data-help='Anyone with this URL can instantiate
		                 this <b>version</b> of your profile'
                   type='text'>
	    <% } %>
	  </fieldset>
	  
	  <!-- Buttons -->
	  <div class='form-group'>
            <div class='col-sm-offset-2 col-sm-10'>
	      <% if (!viewing || canmodify) { %>
              <button class='btn btn-primary btn-xs pull-right' disabled
                      id='profile_submit_button'
                      style='margin-right: 10px;'
                      type='submit' name='create'>
		<%- button_label %>	
	      </button>
	      <% } %>
	      <% if (viewing) { %>
		<% if (!disabled) { %>
		  <a class='btn btn-primary btn-xs pull-right' disabled
                     id='profile_instantiate_button'
                     style='margin-right: 10px;'
                     type='submit' name='create'>Instantiate
		  </a>
		  <% if (isapt) { %>
		    <span class='pull-right'
			  data-toggle='popover'
			  data-delay='{"hide":1500, "show":250}'
			  data-html='true'
			  data-content="When you instantiate as a guest, you get
			       to see exactly how another user will
			       experience your profile. This allows you to
			       better debug your profile for other users">
		      <button class='btn btn-success btn-xs' disabled
			      id='guest_instantiate_button'
			      style='margin-right: 10px;'
     			      data-toggle='modal'
			      data-target='#guest_instantiate_modal'
			      type='button'>Instantiate as Guest
		      </button>
		    </span>
		  <% } %>
		  <a class='btn btn-primary btn-xs pull-left'
                     id='profile_copy_button'
                     style='margin-right: 10px;'
                     type='button'
		     href='manage_profile.php?action=copy&uuid=<%= version_uuid %>'
		     data-toggle='popover'
		     data-delay='{"hide":1500, "show":250}'
		     data-html='true'
		     data-content="When you <em>copy</em> (instead of
                    clone), you are creating a new profile that
		    uses the same source code and metadata (description,
		    instructions) as the original profile, but without
		    creating a new disk image. Instead, the new profile uses
		    whatever images the original profile uses."> 
                    Copy
		  </a>
		  <span class='pull-left'
			data-toggle='popover'
			data-delay='{"hide":1500, "show":250}'
			data-html='true'
			data-content="Share your profile with other users by
				      sending them a link to instantiate it.
				      Click for more info.">
		    <button class='btn btn-primary btn-xs'
			    id='profile_share_button'
			    style='margin-right: 10px;'
			    type='button'>
                      Share
		    </button>
		  </span>
		<% } %>
 		<% if (candelete) { %>
		  <button class='btn btn-danger btn-xs pull-left' disabled
			  id='profile_delete_button'
			  style='margin-right: 10px;'
     			  data-toggle='modal' data-target='#delete_modal'
			  type='button' name='delete'>Delete
		  </button>
		<% } %>
 		<% if (withpublishing && canpublish) { %>
		  <span class='pull-right'
			data-toggle='popover'
			data-delay='{"hide":1500, "show":250}'
			data-html='true'
			data-content="Publishing is like creating
			      a <em>checkpoint</em>. Click for more info.">
		    <button class='btn btn-success btn-xs' disabled
			    id='profile_publish_button'
			    style='margin-right: 10px;'
     			    data-toggle='modal' data-target='#publish_modal'
			    type='button'>
		      Publish`
		    </button>
		  </span>
		<% } %>
	      <% } %>
	    </div>
	  </div>
	  <div id='rspectext_div'></div>
	  </form>
      </div>
    </div>
  </div>
  <!-- Confirm Deletion -->
  <div id='delete_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
	  <center><h4>Confirm to Delete</h4></center>
	</div>
	<div class='modal-body'>
	 <p><em>Warning; deleting a profile cannot be undone!</em> In
	 addition, if you have published links to this profile, or sent
	 links to collaborators, those links <b>will no longer be valid</b>.
	 </p>
	 <br>
	 <center>
           <button class='btn btn-danger btn-sm'
		   id='delete-confirm'
		   style='margin-right: 10px;'
		   type='button' name='delete'>Confirm
	   </button>
           <button class='btn btn-default btn-sm'
		    data-dismiss='modal'
                    type='button'>Cancel
	   </button>
	 </center>
	</div>
      </div>
    </div>
  </div>
  <!-- Confirm Tour Reuse -->
  <div id='reuse_tour_modal' class='modal fade'
       data-keyboard='false' data-backdrop='static'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  <p>
	    Your new rspec did not include a Tour section. Is it okay to reuse
	    the tour section from the original rspec, or continue with no
	    Tour section?
	  </p>
	  <br>
          <center>
            <button class='btn btn-warning btn-sm'
		    id='remove_tour_button'
                    style='margin-right: 10px;'
		    type='button'>Continue with no Tour</button>
            <button class='btn btn-primary btn-sm'
		    id='reuse_tour_button'
		    type='button'>Reuse Tour</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- Warn parameterized profile -->
  <div id='warn_pp_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  <center>
	    <h4>Please Note!</h4>
	  </center>
	  <p>
	    Since you are cloning a profile whose source is a <em>geni-lib
	    python</em> script, you will need to update the images inside
	    the script yourself, we cannot do this for you.  At the end of
	    the image snapshot, we will tell you the new image name so you
	    can edit your script.
	  </p>
	  <br>
          <center>
            <button type='button'
                    class='btn btn-default btn-sm' 
                    data-dismiss='modal'>
	      Close</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- place to hang the modals for now -->
  <div id='showtopomodal_div'></div>
  <div id='editmodal_div'></div>
  <div id='waitwait_div'></div>
  <div id='imaging_div'></div>
  <div id='renderer_div'></div>
  <div id='oops_div'></div>
  <div id='guest_div'></div>
  <div id='publish_div'></div>
  <div id='instantiate_div'></div>
  <div id='ppmodal_div'></div>
  <div id='share_div'>
</div>
<% if (viewing && versions.length > 1) { %>
<div class='row'>
  <div class='col-sm-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4 class='panel-title text-center'>Version History</h4>
      </div>
      <div class='panel-body'>
	<table class='table table-striped table-condensed'>
	  <thead>
	    <tr>
	      <th>Vers</th>
	      <th>Description</th>
	      <th style='white-space: nowrap;'>
		Created&nbsp;&nbsp;&nbsp;&nbsp;</th>
	      <% if (withpublishing) { %>
	      <th>Published</th>
	      <% } %>
	      <th>From</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(versions, function(profile) { %>
	    <%  if (profile.uuid != version_uuid) { %>
	    <tr><% } else { %><tr class='success'><% } %>
	      <td>
		<a href='manage_profile.php?action=edit&uuid=<%- profile.uuid %>'>
		  <%- profile.version %></a>
	      </td>
	      <td><%- profile.description %></td>
	      <td style='white-space: nowrap;'><%- profile.created %></td>
	      <% if (withpublishing) { %>
	      <td><%- profile.published %></td>
	      <% } %>
              <td style='text-align:center'>
		<% if (profile.parent_uuid) { %>
		  <% if (profile.version == 0) { %>
		    <a href='show-profile.php?uuid=<%- profile.parent_uuid %>'>
		      <%- profile.parent_version %></a>
		  <% } else { %>
	            <a href='manage_profile.php?action=edit&uuid=<%- profile.parent_uuid %>'>
		      <%- profile.parent_version %></a>
		  <% } %>
                <% } else { %>
		  &nbsp;
 	        <% } %>
	      </td>
	    </tr>
	    <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
<% } %>
