<div>
  <table class='table table-condensed table-bordered'>
    <tr>
      <td>Username</td>
      <td><%- fields.uid %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= fields.name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><a href="mailto:<%= fields.email %>"><%= fields.email %></a></td>
    </tr>
    <tr>
      <td>Affiliation</td>
      <td><%= fields.affiliation %></td>
    </tr>
    <tr>
      <td>Country</td>
      <td><%= fields.country %></td>
    </tr>
    <tr>
      <td>State</td>
      <td><%= fields.state %></td>
    </tr>
    <tr>
      <td>City</td>
      <td><%= fields.city %></td>
    </tr>
  </table>
</div>
