<div id='myusage_modal' class='modal' style='z-index:1051;'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button'
                class='btn btn-default btn-sm pull-right' 
                data-dismiss='modal' aria-hidden='true'>&times;</button>

	<p>
	  We tell you your node usage in terms of <em>node hours</em>; the
	  number of nodes you are using multiplied by the number of hours
	  you have been using those nodes. We feel this is the best way to
	  tell you how much of the testbed your are using. 
	</p>
	<p>
	  <b>Large numbers are warning signs</b>; many experiments (not all
	  of course) can be performed in less then a week or month. It also
	  informs our decisions when you request an extension; users who
	  are performing small experiments or short experiments will
	  typically be granted extensions without much fuss. Users who have
	  been consuming large amounts of resources will be required to
	  justify their usage to us, and in extreme cases (say, if the
	  testbed is in high demand) might not be granted extensions.
	</p>
	<p>
	  You can always find your current usage by clicking on <b>My
	  Experiments</b> in the <b>Actions</b> menu. You can view
	  your historical usage by clicking on <b>My History</b>.
	</p>
      </div>
    </div>
  </div>
</div>
