<div class="table-responsive">
  <table class='tablesorter' id='profiles_table'>
    <thead>
      <tr>
	<th>Name</th>
	<th>&nbsp</th>
	<% if (showCreator) { %>
	  <th>Creator</th>
	<% } %>
	<% if (showProject) { %>
	  <th>Project</th>
	<% } %>
	<th>Description</th>
	<th>Created</th>
	<th>Listed</th>
	<th>Privacy</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(profiles, function(value, name) { %>
	<tr>
	  <td style='text-align:center'><%= value.link %></td>
	  <td style='text-align:center'>
            <button class='btn btn-primary btn-xs showtopo_modal_button'
                    data-profile=$uuid>Topo</button></td>
	  <% if (showCreator) { %>
	    <td><%= value.creator %></td>
	  <% } %>
	  <% if (showProject) { %>
	    <td><%= value.project %></td>
	  <% } %>
	  <td><%- value.description %></td>
	  <td class="format-date" style='white-space: nowrap;'>
	    <%- value.created %></td>
	  <td><%- value.listed %></td>
	  <td><%- value.privacy %></td>
	</tr>
      <% }); %>
    </tbody>
  </table>
</div>


