<div class='row'>
  <div class='col-lg-3
              col-md-3
              col-sm-3'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4 class='panel-title text-center'>Show Profile</h4>
      </div>
      <div class='panel-body'
	   style='overflow: hidden; padding-left: 5px; padding-right: 5px'>
	<table class='table-condensed nospaceafter'
	       style='font-size:12px;'>
	  <tr>
	    <td>Name:</td>
	    <td><%- fields.profile_name %></td>
	  </tr>
	  <tr>
	    <td>Version:</td><td>
	  <% if (history) { %>
	  <a href='profile-history.php?uuid=<%= profile_uuid %>'>
	  	    <%- fields.profile_version %></a>
	  <% } else { %>
	    <%- fields.profile_version %>
	  <% } %>
	  </td></tr>
	  <tr>
	    <td>Project:</td>
	    <td><%- fields.profile_pid %></td>
	  </tr>
	  <tr>
	    <td>Creator:</td>
	    <td><%- fields.profile_creator %></td>
	  </tr>
	  <tr>
	    <td>Created:</td>
	    <td class='format-date' style='word-wrap:break-word;'>
	      <%- fields.profile_created %></td>
	  </tr>
	  <% if (withpublishing) { %>
	  <tr>
	    <td>Published:</td>
	    <td id='profile_published' class='format-date'>
	      <%- fields.profile_published %></td>
	  </tr>
	  <% } %>
	  <% if (disabled) { %>
	    <tr>
	      <td>Disabled:</td><td><span class="text-danger">Yes</span>
		<a href='#' class='btn btn-xs'
		   data-toggle='popover'
		   data-html='true'
		   data-delay='{"hide":500}'
		   data-content="This profile has been disabled by an
				 administrator. You may be able to instantiate
				 another version of this profile, see the
				 version info above.">
		  <span class='glyphicon glyphicon-question-sign'
			style='margin-bottom: 4px;'></span>
		</a>
	      </td>
	    </tr>
	  <% } %>
	</table>
	<% if (history) { %>
	<a class='btn btn-info btn-xs pull-left'
           id='profile_history_button'
           style='margin-right: 10px; font-size: 12px'
           href='profile-history.php?uuid=<%= profile_uuid %>'
           type='button'>Version History
	</a>
	<% } %>
      </div>
    </div>
  </div>
  <div class='col-lg-9
              col-md-9
              col-sm-9
              col-xs-12'>
    <div class='panel panel-default'>
      <div class='panel-body'>
	<div class='panel-body'>
	  <table class='table nospaceafter border-none'>
	  <tr>
	    <td>Topology:</td>
	    <td>
		  <button class='btn btn-primary btn-xs
			  type='button'
			  style='margin-right: 10px;'
			  id='edit_topo_modal_button'>
                    Visualize</button>
		  <button class='btn btn-primary btn-xs'
			  type='button'
			  style='margin-right: 10px;'
			  id='show_source_modal_button'>
                    Source</button>
		  <button class='btn btn-primary btn-xs hidden'
			  type='button'
			  style='margin-right: 10px;'
			  id='show_xml_modal_button'>
                    XML</button>
	    </td>
	  </tr>
	  <tr>
	    <td>Description:</td>
	    <td>
	      <div style='border: solid #000 1px;'>
		<div id='profile_description'
		     style='padding-left: 2px; padding-right: 2px;'>
		</div>
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td>Instructions:</td>
	    <td>
	      <div style='border: solid #000 1px;'>
		<div id='profile_instructions'
		     style='padding-left: 2px; padding-right: 2px;'>
		</div>
	      </div>
	    </td>
	  </tr>
	  </table>
	  <% if (!disabled) { %>
	  <button class='btn btn-primary btn-sm pull-right'
             id='profile_instantiate_button'
             style='margin-right: 10px;'
             name='create'>Instantiate
	  </button>
	  <a class='btn btn-primary btn-sm pull-right'
             style='margin-right: 10px;'
             type='button'
	     href='manage_profile.php?action=copy&uuid=<%= version_uuid %>'>
            Copy
	  </a>
	  <% } %>
	  <% if (canedit) { %>
	  <a class='btn btn-primary btn-sm pull-right'
             style='margin-right: 10px;'
             type='button'
	     href='manage_profile.php?action=edit&uuid=<%= version_uuid %>'>
            Edit
	  </a>
	  <% } %>
	  <% if (!disabled) { %>
	  <span class='pull-right''
		data-toggle='popover'
		data-delay='{"hide":1500, "show":250}'
		data-html='true'
		data-content="Share this profile with other users by
			      sending them a link to instantiate it.
			      Click for more info.">
	    <button class='btn btn-info btn-sm'
		    id='profile_share_button'
     		    data-toggle='modal' data-target='#share_profile_modal'
		    style='margin-right: 10px;'
		    type='button'>
              Share
	    </button>
	  </span>
	  <% } %>
	</div>
      </div>
    </div>
    <textarea name="formfields[profile_rspec]"
	      id='profile_rspec_textarea'
              class='form-control hidden'
              type='textarea'
	      data-key='profile_rspec'
	      rows=5><%- fields.profile_rspec %></textarea>
    <textarea name="formfields[profile_script]"
	      id='profile_script_textarea'
              class='form-control hidden'
              type='textarea'
	      data-key='profile_script'
	      rows=5><%- fields.profile_script %></textarea>
  </div>
  <!-- place to hang the modals  -->
  <div id='showtopomodal_div'></div>
  <div id='editmodal_div'></div>
  <div id='waitwait_div'></div>
  <div id='imaging_div'></div>
  <div id='renderer_div'></div>
  <div id='oops_div'></div>
  <div id='guest_div'></div>
  <div id='publish_div'></div>
  <div id='instantiate_div'></div>
  <div id='rspectext_div'></div>
  <div id='share_div'>
</div>
