ErrorDocument 404 /error.php
ErrorDocument 403 /error.php

DirectoryIndex instantiate.php

RewriteBase /
RewriteEngine on

# Old quickvm page.
RewriteRule ^/quickvm.php /instantiate.php [R=301,L]

# These work only on www.aptlab.net cause of the path prefix.
RewriteRule ^/p/([^/]+)/([\d]+)/?$ /instantiate.php?profile=$1&version=$2 [R=301,L]
RewriteRule ^/p/([^/]+)/([^/]+)/?$ /instantiate.php?project=$1&profile=$2 [R=301,L]
RewriteRule ^/p/([^/]+)/([^/]+)/([\d]+)/?$ /instantiate.php?project=$1&profile=$2&version=$3 [R=301,L]
RewriteRule ^/p/([^/]+)/? /instantiate.php?profile=$1 [R=301,L]

