/* For the footer */
html, body, #bodycontainer { height: 100%; }
body > #bodycontainer { height: auto; min-height: 100%; }

#bodycontent { padding-bottom: 2.5em; }

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 2.5em;
 margin-top: -2.5em;
}

#footer div {
    font-size: 1.0em;
    color: #ddd;
    padding: 0.5em;
}

#footer #elabpower {
    height: 1.0em;
}

/* Extra wide modal /*/
.uk-modal-dialog-wide {
  width: 800px;
  /* 3 */

  margin-left: -200px;
  /* 4 */
}

/* Styles for svg diagrams */
.topomap {
    display: block;
    margin: 0 auto;
}
.linktext {
    fill: blue;
    font: Helvetica;
    font-size: 12;
    font-weight: bold;
}
.nodetext {
    fill: black;
    font: Helvetica;
    font-size: 12;
    font-weight: bold;
}
.linkline {
    fill: black;
    fill-opacity: 1.0;
    stroke: black;
    stroke-opacity: 1.0;
    stroke-width: 1;
    stroke-linecap: square;
}
.nodebox {
    fill: palegreen;
    fill-opacity: 1.0;
    stroke: black;
    stroke-opacity: 1.0;
    stroke-width: 2;
}

