/* For the footer */
html, body, #bodycontainer { height: 100%; }
body > #bodycontainer { height: auto; min-height: 100%; }

#bodycontent { padding-bottom: 2.5em; }

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 2.5em;
 margin-top: -2.5em;
}

#footer div {
    font-size: 1.0em;
    color: #ddd;
    padding: 0.5em;
}

#footer #elabpower {
    height: 1.0em;
}

