[Unit]
Description=Emulab fstab fixup (swap)
Before=swap.target
After=systemd-remount-fs.service
DefaultDependencies=no
Conflicts=shutdown.target
Conflicts=swap.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/local/etc/emulab/initscripts/emulab-systemd-swaps
Restart=no

[Install]
WantedBy=swap.target
